<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Amazonia book store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  	<div class="col-md-10">
  		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2 w-100" type="search" placeholder="Search" aria-label="Search" />
		</form>
  	</div>
  	<div class="col-md-2">
		<ul class="navbar-nav mr-auto form-inline pull-right">
	      <li class="nav-item">
	        <a class="btn btn-primary" href="#"><span class="fa fa-user"></span> Login</a>
	      </li>&nbsp;&nbsp;
	      <li class="nav-item">
	      	<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
	      		<span class="fa fa-shopping-basket"></span>&nbsp;&nbsp;
	      		<span class="fa fa-badge">0</span>
	      	</button>
	      </li>
	    </ul>
  	</div>
  </div>
</nav>