<div class="card-deck m-2">
	<div class="card">
	  <img class="card-img-top" src="https://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/B06169.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
	<div class="card">
	  <img class="card-img-top" src="https://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/B06169.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
	<div class="card">
	  <img class="card-img-top" src="https://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/B06169.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
	<div class="card">
	  <img class="card-img-top" src="https://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/B06169.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
	<div class="card">
	  <img class="card-img-top" src="https://dz13w8afd47il.cloudfront.net/sites/default/files/imagecache/ppv4_main_book_cover/B06169.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
</div>

<div class="card-deck m-2">
	<div class="card">
	  <img class="card-img-top" src="https://www.packtpub.com/sites/default/files/bookretailers/V06904_MockupCover_0.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
	<div class="card">
	  <img class="card-img-top" src="https://www.packtpub.com/sites/default/files/bookretailers/V06904_MockupCover_0.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
	<div class="card">
	  <img class="card-img-top" src="https://www.packtpub.com/sites/default/files/bookretailers/V06904_MockupCover_0.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
	<div class="card">
	  <img class="card-img-top" src="https://www.packtpub.com/sites/default/files/bookretailers/V06904_MockupCover_0.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
	<div class="card">
	  <img class="card-img-top" src="https://www.packtpub.com/sites/default/files/bookretailers/V06904_MockupCover_0.png" alt="Learning angular">
	  <div class="card-body">
	    <h5 class="card-title">Learning angular</h5>
	    <p class="card-text">This book will take you in the undercover of the angular technology</p>
	    <a href="#" class="btn btn-primary">Angular router</a>
	  </div>
	</div>
</div>